 /* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 480px)
{
	.text-response {
    font-size: 80px;
  }
}

 /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 240px)
{
	.text-response {
    font-size: 30px;
  }
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}


.*{
    font-family: "Hind Siliguri";
}

    .box-text-align{
        text-align: justify;
    }

@media screen and (max-width: 400px)
{
    .box-text-align{
        text-align: justify;
    }
}


.underlined{
    border-bottom: 2px solid #fff;
    padding-bottom: 5px;
}


#tabs {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.nobottom{
    padding-bottom: 0px !important;
}